<div class="cookie-consent-banner">
    <div class="cookie-consent-banner__inner">
      <div class="cookie-consent-banner__copy">
        <div class="cookie-consent-banner__header">Diese Website verwendet Cookies</div>
        <div class="cookie-consent-banner__description">Wir verwenden Cookies, um eine reibungslose Funktionalität der Website garantieren zu können.</br>Es werden <strong>keine</strong> Daten zu Marketing- oder Analysezwecken gesammelt und gespeichert.</div>
      </div>
      <div class="cookie-consent-banner__actions">
        <button class="cookie-consent-banner__cta">
          OK
        </button>
      </div>
    </div>
  </div>
  