<div role="main" class="hero">
  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    Das OpenData-Portal befindet sich aktuell im Aufbau. Die Datenbestände werden fortlaufend erweitert. </br>
    Sollten spezifische Datensätze noch nicht zur Verfügung stehen, wenden Sie sich bitte an einen Administrator unter: <a href="mailto:support.gis@kreis-guetersloh.de">support.gis@kreis-guetersloh.de</a>
  </div>
  <div class="container cover-container">
    <div class="row w-100">
      <div class="col-12 col-md-6 cover-headline">
        <h1 class="display-5">Open-Data Kreis G&uuml;tersloh</h1>
      </div>
      <div class="col-12 col-md-4 cover-search">
        {% block search %}
          {% snippet 'home/snippets/search.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
<div role="main" class="module-feeds">
  <div class="container col-12 col-md-10">
    <div class="row justify-content-center">
      <div class="tag-gallery-main ">
        {% block tag_gallery %}
          {% snippet 'home/snippets/tag_gallery.html'%}
        {% endblock %}
      </div>
    </div>
  </div>
</div>