include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/themegeoportalkgt *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/themegeoportalkgt/migration *.ini *.py *.mako
