
<footer class="site-footer">
    <div class="container">
        {% block footer_content %}
        <div class="row">
            <div class="col-md-3 col-12 footer-img-div">
                <a href="https://www.kreis-guetersloh.de"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/DEU_Kreis_G%C3%BCtersloh_COA.svg/1200px-DEU_Kreis_G%C3%BCtersloh_COA.svg.png" class="footer-img" alt="Wappen des Kreis Guetersloh mit Link zur Kreis-Website"></a>
            </div>
            <div class="col-md-3 col-12 footer-links">
                <h3>Kontakt</h3>
                <ul class="list-unstyled">
                    <li>
                        Kreis G&uuml;tersloh
                    </li>
                    <li>
                        Herzebrocker Straße 140
                    </li>
                    <li>
                        33334 G&uuml;tersloh
                    </li>
                    <li>
                        Tel: 05241 85-0
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-12 footer-links">
                <h3>Fachabteilung</h3>
                <ul class="list-unstyled">
                    <li>
                        Abteilung 4.1 Geoinformation, </br>Kataster und Vermessung
                    </li>
                    <li>
                        Sachgebiet Geodatenservice
                    </li>
                    <li>
                        Mail: <a href="mailto:support.gis@kreis-guetersloh.de">support.gis@kreis-</br>guetersloh.de</a>
                    </li>
                    <li>
                        <a href="http://geosrv9.kreis.gt-net.de/geoportal/kontakt-2/">Kontaktformular</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-12 footer-links">
                <h3>Links</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ h.url_for('home.about') }}">Über das Open-Data Portal</a></li>
                    <li>
                        <a href="http://geosrv9.kreis.gt-net.de/geoportal/impressum/">Impressum</a>
                    </li>
                    <li>
                        <a href="https://opendata.kreis-guetersloh.de/pages/privacy">Datenschutzerkl&auml;rung</a>
                    </li>
                    <li>
                        <a href="https://www.kreis-guetersloh.de/unser-kreis/verwaltung/dsgvo/">DSGVO</a>
                    </li>
                    <li>
                        <a href="http://geosrv9.kreis.gt-net.de/geoportal/barrierefreiheit/">Barrierefreiheit</a>
                    </li>
                    <li>
                        <a href="https://opendata.kreis-guetersloh.de/pages/easyread">Leichte Sprache</a>
                    </li>
                    <li>
                        <a href="http://geosrv9.kreis.gt-net.de/geoportal/gebaerdensprache/">Gebärdensprache</a>
                    </li>
                </ul>
            </div>
        </div>
        {% endblock %}
    </div>
    <div class="col-md-3 col-12 attribution">
        <p>Copyright © 2023 <a href="https://www.kreis-guetersloh.de/">Kreis Gütersloh</a> | Powered by <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a></p>
    </div>
  </footer>