{% extends "page.html" %}

{% block primary %}
  <article class="module">
    <div class="module-content">
    <h2>Datenschutzerklärung</h2>
        <h3>Hinweise zum Datenschutz</h3>
        <p>
            Der Kreis Gütersloh ist als Betreiber dieses Webseite verantwortlich für die Erhebung, 
            Verarbeitung und Nutzung der personenbezogenen Daten der Nutzer im Sinne der EU-Datenschutzgrundverordnung 
            (EU-DSGVO) in Verbindung mit dem Landesdatenschutzgesetz (DSG NRW). Der Kreis Gütersloh nimmt den Schutz 
            Ihrer Privatsphäre und Ihrer privaten Daten sehr ernst.</br>
            Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten erhoben. 
            Mit den folgenden Hinweisen erhalten Sie allgemeine Informationen, welche Daten wir erheben und für welchen Zweck dies geschieht. 
            Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) 
            Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff Dritter ist nicht möglich.</br>
            Weitere Informationen zum Datenschutz finden Sie auch unter <a href="https://www.kreis-guetersloh.de/unser-kreis/verwaltung/dsgvo/">https://www.kreis-guetersloh.de/unser-kreis/verwaltung/dsgvo/</a>
        <p>
        <h3>Datenschutzerfassung auf unserer Website</h3>
        <span>
            <h4>
            <p>
                Wer ist verantwortlich für die Datenerfassung auf dieser Website?</h4>
                Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. 
                Dessen Kontaktdaten können Sie dem <a href="https://geoportal.kreis-guetersloh/geoportal/impressum/">Impressum</a> dieser Website entnehmen.
            </p></br>
            <h4>Wie erfassen wir Ihre Daten?</h4>
            <p>
                Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. 
                Hierbei kann es sich z.B. um Daten handeln, die Sie in ein Kontaktformular eingeben.</br>
                Andere Daten werden automatisch beim Besuch der Website durch unsere IT-Systeme erfasst. 
                Das sind vor allem technische Daten, wie Informationen zum verwendeter Internetbrowser, 
                Betriebssystem, Art des Gerätes (PC, Tablet, Smartphone), besuchte Seiten oder Uhrzeit des 
                Seitenaufrufs. Die Erfassung dieser Daten erfolgt automatisch, sobald Sie unsere Website besuchen.
            </p></br>
            <h4>Wofür nutzen wir Ihre Daten?</h4>
            <p>
                Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu gewährleisten. 
                Andere Daten werden zur Analyse Ihres Nutzerverhaltens verwendet. Diese Analyse dient ausschließlich dazu, 
                das Online-Angebot zu optimieren. Ein Rückschluss auf Sie als Nutzer ist <strong>zu keiner Zeit möglich</strong>, 
                da die IP-Adresse komplett anonymisiert wird.
            </p></br>
            <h4>Welche Daten werden erhoben</h4>
            <p>
                Bei jedem Zugriff eines Nutzers auf unser Online-Angebot und bei jedem Abruf einer Datei werden Zugriffsdaten 
                über diesen Vorgang in einer Protokolldatei auf unseren geschützten Servern gespeichert. Diese sind durch technische 
                und organisatorische Maßnahmen gegen Verlust, Zerstörung, Zugriff, Veränderung oder Verbreitung Ihrer Daten durch 
                unbefugte Personen geschützt. Jeder Datensatz besteht aus:</br></br>
                der Seite, von der aus die Datei angefordert wurde
                <ul>
                    <li>dem Namen der Datei</li>
                    <li>dem Datum und Uhrzeit der Anforderung</li>
                    <li>der übertragenen Datenmenge</li>
                    <li>dem Zugriffsstatus (Datei übertragen, Datei nicht gefunden etc.)</li>
                    <li>verwendetes Betriebssystem</li>
                    <li>einer Beschreibung des Typs des verwendeten Webbrowsers</li>
                    <li>
                        die IP-Adresse wird durch vorgelagerte Server seites des Rechenzentrums völlig anonymisiert, 
                        so dass hierüber <strong>keinerlei</strong> Rückschluss auf den Nutzer möglich ist.
                    </li>
                </ul></br></br>
                Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.</br></br>
                Grundlage für die Datenverarbeitung ist Art. 6 Abs. 1 lit. f DSGVO, der die Verarbeitung von Daten zur Erfüllung 
                eines Vertrags oder vorvertraglicher Maßnahmen gestattet.</br>
                Die gespeicherten Daten werden ausschließlich zu statistischen Zwecken ausgewertet, eine Weitergabe an Dritte, 
                weder zu kommerziellen noch zu nicht kommerziellen Zwecken, findet nicht statt.
            </p></br>
            <h4>Cookies</h4>
            <p>
                Für unser Online-Angebot kommen – wie auf vielen Websites – so genannte Cookies zum Einsatz. </br>
                Cookies sind kleine Textdateien, die auf Ihrem Computer gespeichert werden und die bestimmte Einstellungen 
                und Daten zum Austausch mit dem Online-Angebot von uns über Ihren Browser speichern. Cookies richten auf Ihrem 
                Rechner keinen Schaden an und enthalten keine Viren. Cookies dienen dazu, unser Angebot 
                nutzerfreundlicher, effektiver und sicherer zu machen. Die meisten der von uns verwendeten Cookies sind so 
                genannte „Session-Cookies“, die nach Ende Ihres Besuchs automatisch gelöscht werden. Andere Cookies bleiben 
                auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.</br>
                Die meisten Browser sind so eingestellt, dass sie Cookies automatisch akzeptieren. Sie können das Speichern von 
                Cookies jedoch deaktivieren oder Ihren Browser so einstellen, dass er Sie benachrichtigt, sobald Cookies gesendet werden.
            </p></br>
            <h4>SSL-Verschlüsselung</h4>
            <p>
                Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel Anfragen, 
                die Sie an uns als Seitenbetreiber senden, eine SSL-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, 
                dass die Adresszeile des Browsers von “https://” auf “https://” wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.</br>
                Wenn die SSL-Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.
            </p></br>
            <h4>Links zu anderen Websites</h4>
            <p>
                Unser Online-Angebot enthält Links zu anderen Websites. Diese Verlinkungen sind in der Regel als solche gekennzeichnet. 
                Wir haben keinen Einfluss darauf, dass deren Betreiber die Datenschutzbestimmungen einhalten. Wir empfehlen daher, 
                dass Sie sich auch bei anderen Websites über die jeweiligen Datenschutzerklärungen informieren.
            </p></br>
            <h4>Kontaktformular</h4>
            <p>
                Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben aus dem Anfrageformular 
                inklusive der von Ihnen dort angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und für den Fall 
                von Anschlussfragen bei uns gespeichert. Die von Ihnen im Kontaktformular eingegebenen Daten verbleiben bei uns, 
                bis Sie uns zur Löschung auffordern, Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für die 
                Datenspeicherung entfällt (z.B. nach abgeschlossener Bearbeitung Ihrer Anfrage). Zwingende gesetzliche Bestimmungen 
                – insbesondere Aufbewahrungsfristen – bleiben unberührt.
            </p>
        </span>
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}