{% extends "page.html" %}
{% block breadcrumb_content %}
  <li class="active">{% link_for _('Simple_Language'), controller='ckanext.themegeoportalkgt.plugin:NPController', action='simple_language' %}</li>
{% endblock %}
{% block primary %}
  <article class="module">
    <div class="module-content">
    <h2>Leichte Sprache</h2>
        <p>
            Geo bedeutet Erde.
            Ein Portal ist eine Internet-Seite.

            In dem Geo-Portal gibt es Land-Karten.
            Sie können sich diese Land-Karten ansehen.
            Diese Land-Karten zeigen Informationen über den Kreis Gütersloh.
            In dem Geo-Portal gibt es auch Daten.
            Diese Daten sind Informationen auf der Erde.
            Diese Informationen heißen auch: Geo-Daten.
            Oder Sie heißen auch: Geo- Informationen.

            Wir möchten, dass Sie unser Geo-Portal kennen lernen.
            Wir erklären Ihnen, wie unser Geo-Portal funktioniert.
        <p>
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}