:root{
  --darkblueKGT:#06416b;
  --medblueKGT:#698da6;
  --lightblueKGT:#e6ecf0 ;
  --redKGT:#b31e3b;
  --greenKGT: #0DA262;
}
  /* CSS for Layer Stack Button in ressource views*/
  .stacked-layers{
    background-color: var(--darkblueKGT);
  }

  .layer-1:not(.animated){
    transform: none !important;
  }
  .layer-1{
    background-color: unset !important;
    border: none !important;
    transform-origin:unset !important;
    -webkit-transform-origin: unset !important;
    background-image: url(layerstack.png);
    width: 26px !important;
    height: 25px !important;
    top: 5px !important;
    left: 4px !important;
    box-shadow: none !important;
  }
  .animated {
    animation-delay:unset !important;
    background-image: url(spinner.png);
    animation: none !important;
    animation: spinner 1.5s infinite linear !important;
  }
  
  .layer-2, .layer-3{
    display: none;
  }
  @keyframes spinner {
    0%{
      transform:rotate(0deg)
    }
    100%{
        transform:rotate(360deg)
    }	
  }

  
.ol-control {
    background-color: rgba(148,148,148,0.4) !important;
}
.ol-control button{
    background-color: var(--darkblueKGT) !important;
}
.panel{
    background-color: white !important;
}
.panel label{
    color: var(--darkblueKGT) !important;
}
.layer-switcher .header{
    background-color: var(--darkblueKGT) !important;
}
.baseLayerSelector select{
    background-color: var(--darkblueKGT) !important;
}